<div class="card">
  <h1>parent information</h1>
  <hr />
  <app-child>
    <p #para>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum perferendis
      ab dolor dignissimos aliquam inventore saepe iusto? Velit, repudiandae
      deserunt!
    </p>
    <p #para>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem blanditiis
      debitis explicabo laboriosam culpa numquam atque vitae rem optio at.
    </p>
    <p #para>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta quidem
      temporibus eaque, doloribus libero asperiores dolorum voluptates ab non
      quas.
    </p>
    <app-test [name]="'Ajith Kumar'"></app-test>
    <app-test [name]="'Vijay'"></app-test>
    <app-test [name]="'John'"></app-test>
  </app-child>
</div>
