<div class="card container mt-2">
    <app-child>
        <h3>Heading</h3>
        <p #para>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae, maiores! Incidunt vitae provident assumenda amet laboriosam impedit labore natus. Repellendus cupiditate temporibus quis dolore est error distinctio labore deleniti unde, fugiat magni asperiores autem nulla cum veritatis non accusantium vel veniam tempora doloremque deserunt. Eius reiciendis sunt numquam iste quo!
        </p>
        <app-test></app-test>
    </app-child>
    <button (click)="stylePara()" >Parent Click</button>
</div> 