<div class="row">
    <div class="col-6">
        <div class="d-flex justify-content-center">
            <img class="" [src]="choosedProduct.imgUrl" [alt]="choosedProduct.name" width="350px" />
        </div>
        </div>
    <div class="col-6" >
        <div class="row">
            <div class="col-12">
                    <h1>{{choosedProduct.name}}</h1>
                    <h3>{{choosedProduct.price | currency:"INR"}} </h3>
                    <h4>{{choosedProduct.description}}</h4>
                    <h5> Brand : {{choosedProduct.brand}}</h5>
                    <div class="" *ngFor="let color of choosedProduct.color">
                        <span class="w-25 h-25" style=`background-color:${color} `></span>
                    </div>

        </div>
    </div>
</div>
